@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Bold.woff2') format('woff2'),
        url('../fonts/Quicksand-Bold.woff') format('woff'),
        url('../fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-SemiBold.woff2') format('woff2'),
        url('../fonts/Quicksand-SemiBold.woff') format('woff'),
        url('../fonts/Quicksand-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Medium.woff2') format('woff2'),
        url('../fonts/Quicksand-Medium.woff') format('woff'),
        url('../fonts/Quicksand-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.woff2') format('woff2'),
        url('../fonts/Quicksand-Regular.woff') format('woff'),
        url('../fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Light.woff2') format('woff2'),
        url('../fonts/Quicksand-Light.woff') format('woff'),
        url('../fonts/Quicksand-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Linearicons';
    src:  url('../fonts/Linearicons.eot?mxn1wi');
    src:  url('../fonts/Linearicons.eot?mxn1wi#iefix') format('embedded-opentype'),
      url('../fonts/Linearicons.ttf?mxn1wi') format('truetype'),
      url('../fonts/Linearicons.woff?mxn1wi') format('woff'),
      url('../fonts/Linearicons.svg?mxn1wi#Linearicons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  
    // src: url(../fonts/Linearicons.eot); /* For IE6-8 */
    // src: local('Linearicons'),
    //      local('Linearicons'),
    //       url(../fonts/Linearicons.woff) format('woff'),
    //       url(../fonts/Linearicons.ttf) format('truetype');
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Linearicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-up_arrow:before {
    content: "\e908";
  }
  .icon-psd:before {
    content: "\e900";
  }
  .icon-share-left:before {
    content: "\e901";
  }
  .icon-share-right:before {
    content: "\e902";
  }
  .icon-wordpress:before {
    content: "\e903";
  }
  .icon-home:before {
    content: "\e904";
  }
  .icon-location2:before {
    content: "\e905";
  }
  .icon-radio-unchecked:before {
    content: "\e906";
  }
  .icon-menu:before {
    content: "\e907";
  }
  .icon-magic-wand:before {
    content: "\e92b";
  }
  .icon-cloud-download:before {
    content: "\e94c";
  }
  .icon-lock:before {
    content: "\e96b";
  }
  .icon-cog:before {
    content: "\e972";
  }
  .icon-trash2:before {
    content: "\e981";
  }
  .icon-dice:before {
    content: "\e987";
  }
  .icon-heart:before {
    content: "\e98c";
  }
  .icon-star:before {
    content: "\e98d";
  }
  .icon-envelope:before {
    content: "\e996";
  }
  .icon-inbox:before {
    content: "\e99c";
  }
  .icon-eye:before {
    content: "\e9a5";
  }
  .icon-exit:before {
    content: "\e9d3";
  }
  .icon-license2:before {
    content: "\e9dc";
  }
  .icon-book2:before {
    content: "\ea14";
  }
  .icon-user:before {
    content: "\ea1e";
  }
  .icon-users2:before {
    content: "\ea23";
  }
  .icon-cart:before {
    content: "\ea4d";
  }
  .icon-telephone:before {
    content: "\ea6a";
  }
  .icon-telephone2:before {
    content: "\ea77";
  }
  .icon-map-marker:before {
    content: "\ea7a";
  }
  .icon-bubble:before {
    content: "\ead6";
  }
  .icon-chart-bars:before {
    content: "\eafc";
  }
  .icon-leaf:before {
    content: "\eb2d";
  }
  .icon-briefcase:before {
    content: "\eb3a";
  }
  .icon-smile:before {
    content: "\eb8a";
  }
  .icon-alarm:before {
    content: "\ebaa";
  }
  .icon-clock:before {
    content: "\ebe6";
  }
  .icon-upload2:before {
    content: "\ebf6";
  }
  .icon-share2:before {
    content: "\ec20";
  }
  .icon-magnifier:before {
    content: "\ec22";
  }
  .icon-check:before {
    content: "\ec34";
  }
  .icon-chevron-down:before {
    content: "\ec3a";
  }
  .icon-chevron-left:before {
    content: "\ec3b";
  }
  .icon-chevron-right:before {
    content: "\ec3c";
  }
  .icon-arrow-left:before {
    content: "\ec43";
  }
  .icon-arrow-right:before {
    content: "\ec44";
  }
  .icon-question-circle:before {
    content: "\ec57";
  }
  .icon-circle:before {
    content: "\ec9d";
  }
  .icon-border-outer:before {
    content: "\ece0";
  }
  .icon-check1:before {
    content: "\f00c";
  }
  .icon-twitter:before {
    content: "\f099";
  }
  .icon-facebook:before {
    content: "\f09a";
  }
  .icon-pinterest:before {
    content: "\f0d2";
  }
  .icon-linkedin:before {
    content: "\f0e1";
  }
  .icon-html5:before {
    content: "\f13b";
  }
  .icon-dribbble:before {
    content: "\f17d";
  }
  .icon-google:before {
    content: "\f1a0";
  }
  .icon-caret-up:before {
    content: "\f0d8";
  }